# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
hardware/**/~*.lck

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
hardware/**/*.xml
hardware/**/*.csv

hardware/Template-KiCAD-Project-CI-backups/

hardware/Badge-bsides-cdmx-2025/Badge-bsides-cdmx-2025-backups/

hardware/Badge-bsides-cdmx-2025-community/#auto_saved_files#

*.zip

.vscode/
/**/Build*
/**/Temp*
/**/.env
